Repository skripkaru/webpack-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn lint:css, yarn format

add utils and vars
  src/scripts/utils/check-viewport.js
  src/scripts/utils/disable-scroll.js
  src/scripts/utils/enable-scroll.js
  src/scripts/utils/header-height.js
  src/scripts/utils/mobile-check.js
  src/scripts/vars.js
Due: yarn lint, yarn format

update
  src/scripts/utils/check-viewport.js
Due: yarn lint, yarn format

update docs & remove test pages
  README.md
  src/data/global.json
  src/images/logo.svg
  src/pages/nav.hbs
  src/pages/ui.hbs
Due: yarn format

update ui & config
  src/styles/config/global.scss
  src/styles/config/typography.scss
  src/styles/config/variables.scss
  src/styles/main.scss
  src/styles/ui/text.scss
  src/styles/ui/title.scss
Due: yarn lint:css, yarn format

update docs
  README.md
Due: yarn format

update styles
  README.md
  src/styles/config/global.scss
  src/styles/mixins/scrollbar.scss
Due: yarn lint:css, yarn format

update utils
  package.json
  src/scripts/utils/check-viewport.js
  src/styles/mixins/breakpoint.scss
Due: yarn lint, yarn lint:css, yarn format

updated structure & added meta tags
  README.md
  src/icons/search.svg
  src/partials/layouts/default.hbs
  webpack.common.js
Due: yarn lint, yarn format

updated structure
  README.md
  src/assets/fonts/Roboto-Bold.woff2
  src/assets/fonts/Roboto-Regular.woff2
  src/assets/icons/search.svg
  src/assets/images/favicon.svg
  src/views/data/global.json
  src/views/helpers/arraySize.js
  src/views/pages/index.hbs
  src/views/partials/components/footer.hbs
  src/views/partials/components/header.hbs
  src/views/partials/layouts/default.hbs
  webpack.common.js
Due: yarn lint, yarn format

updated helpers
  src/views/helpers/getArrayLenght.js
  src/views/helpers/getYear.js
Due: yarn lint, yarn format

updated helpers
  src/views/helpers/getArrayLength.js
Due: yarn lint, yarn format

updated data
  README.md
  src/views/data/main.json
  webpack.common.js
Due: yarn lint, yarn format

updated configs
  .prettierrc
  src/scripts/components/header.js
  src/scripts/main.js
  src/scripts/utils/check-viewport.js
  src/scripts/utils/disable-scroll.js
  src/scripts/utils/enable-scroll.js
  src/scripts/utils/header-height.js
  src/scripts/utils/mobile-check.js
  src/scripts/utils/scroll-width.js
  src/scripts/vars.js
  src/views/helpers/getArrayLength.js
  src/views/helpers/getYear.js
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: yarn lint, yarn format

updated configs
  .prettierrc
  README.md
  src/scripts/config/vars.js
  src/scripts/utils/disable-scroll.js
  src/scripts/utils/enable-scroll.js
  src/scripts/utils/header-height.js
  src/scripts/utils/mobile-check.js
  src/views/data/global.json
  src/views/data/index.json
  webpack.common.js
Due: yarn lint, yarn format

updated
  README.md
  package.json
  src/styles/config/global.scss
  src/styles/config/mixins.scss
  src/styles/config/typography.scss
  src/styles/config/utils.scss
  src/styles/config/variables.scss
  src/styles/main.scss
  src/styles/mixins/breakpoints.scss
  src/styles/ui/text.scss
  src/styles/ui/title.scss
  src/styles/utils/flex.scss
  src/styles/utils/gap.scss
  src/styles/utils/grid.scss
  src/styles/utils/offset.scss
  src/styles/utils/visibility.scss
  src/views/data/global.json
  src/views/data/index.json
  src/views/data/main.json
  src/views/pages/index.hbs
  src/views/pages/main.hbs
  src/views/partials/layouts/default.hbs
  webpack.config.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Due: yarn lint, yarn lint:css, yarn format

updated
  webpack.config.js
Due: yarn lint, yarn format

remove babel
  .babelrc
  README.md
  package.json
  webpack.config.js
  yarn.lock
Due: yarn lint, yarn format

updated config
  webpack.config.js
Due: yarn lint, yarn format

updated config
  src/views/pages/main.hbs
  webpack.config.js
Due: yarn lint, yarn format

updated dependencies
  package.json
  yarn.lock
Due: yarn format

added modal + refactoring
  README.md
  package.json
  src/assets/icons/close.svg
  src/assets/icons/search.svg
  src/scripts/components/header.js
  src/scripts/components/ui/modal.js
  src/scripts/config/vars.js
  src/scripts/main.js
  src/scripts/utils/checkViewport.js
  src/scripts/utils/disable-scroll.js
  src/scripts/utils/disableScroll.js
  src/scripts/utils/enable-scroll.js
  src/scripts/utils/enableScroll.js
  src/scripts/utils/fixFullHeight.js
  src/scripts/utils/getFromLS.js
  src/scripts/utils/header-height.js
  src/scripts/utils/mobileCheck.js
  src/scripts/utils/scrollWidth.js
  src/scripts/utils/setElementHeight.js
  src/scripts/utils/setToLS.js
  src/styles/components/content.scss
  src/styles/components/layout.scss
  src/styles/components/ui/button.scss
  src/styles/components/ui/container.scss
  src/styles/components/ui/modal.scss
  src/styles/config/global.scss
  src/styles/main.scss
  src/views/pages/index.hbs
  src/views/pages/main.hbs
  src/views/partials/components/header.hbs
  src/views/partials/components/modals/example.hbs
  src/views/partials/layouts/default.hbs
  yarn.lock
Due: yarn lint, yarn lint:css, yarn format

Path conditions:
  yarn lint: any of: *.js
  yarn lint:css: any of: *.scss
  yarn format: any of: *.{js,scss,hbs,json,md}
